body{
    background-color: rgb(119, 147, 238);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

footer{
    margin-top: 8px;
    color: white;
    text-align: center;
    font-style: italic;
}

section{
    background-color: whitesmoke;
    border-radius: 8px;
    margin: auto;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
    text-align: left;
}

table{
    border: 1px solid black;
    line-height: 21px;
    min-width: 150px;
    height: 250px;
    background-color: rgb(223, 223, 223);
    font-size: 20px;
}